
<div class="row">
    <div class="col-sm-6 col-md-4">
        <a href="#">录音1</a>
    </div>
    <div class="col-sm-6 col-md-4">
        录音2
    </div>
    <div class="col-sm-6 col-md-4">
        录音1
    </div>
    <div class="col-sm-6 col-md-4">
        录音2
    </div>
    <div class="col-sm-6 col-md-4">
        录音1
    </div>
    <div class="col-sm-6 col-md-4">
        录音2
    </div>
    <div class="col-sm-6 col-md-4">
        录音1
    </div>
    <div class="col-sm-6 col-md-4">
        录音2
    </div>
</div>
<nav class="center">
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</nav>
<div class="center">
    <audio src="song.mp3" controls="controls">
        Your browser does not support the audio tag.
    </audio>
</div>

