/*·ÖÒ³*/
.pages{width:550px;margin:0px auto;overflow:hidden;text-align:center;font-size:14px;}
                .pages a{margin:0px 5px;padding:0px 8px;border:1px solid #aaa;line-height:20px;font-size:14px;text-decoration:none;color:#000;display:inline-block;}
				.pages a:hover{color:#f00;}
                .pageNO{width:30px;height:20px;margin:0px 3px;border:1px solid #aaa;font-size:14px;line-height:21px;text-align:center;}