
 <nav class="navbar bd-none navbar-default header-line mt10">
     <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="" href="#"><img src="img/logo.jpg" alt=""></a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav" >
                 <li><a href="#">报表</a></li>
                 <li><a href="#">录音</a></li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
                     <a href="#" id="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">浦东新区卫计委 <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a href="#">所属卫计委：浦东新区卫计委</a></li>
                         <li><a href="#">医院数量:2000</a></li>
                         <li><a href="#">医生数量：11111</a></li>
                         <li><a href="#">签约数：44555</a></li>
                         <li role="separator" class="divider"></li>
                         <li><a href="#">退出登录</a></li>
                     </ul>
                 </li>
             </ul>
         </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
 </nav>