<div class="pageView">
    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <p>This is the partial for view 1.</p>

    <a ui-sref="view1.detail">goto-children</a><br/>
    <a ui-sref="index">back</a>

</div>
<div ui-view class="page {{pageClass.index}}"></div>